<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Ne faites plus la queue ...</b></h1>
        <h2>Reservez votre place dès maintenant !</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn"(click)='checkSession()' >Réserver</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/city-driver-concept-illustration_114360-1209.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economique</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Rapide</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Réservation Facile</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div>


<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/coronavirus-border-closure-concept-illustration_114360-1753.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h1><b>Comment ça fonctionne ?</b></h1>
        <p>Lorsque vous êtes en déplacement, Smart-Park vous permet de trouver et de payer facilement une place de stationnement sans avoir à revenir pour alimenter l'horodateur. <br>
            Et pour plus de commodité, vous pouvez réserver des places à l'avance.<br>
            Lorsque vous cherchez une place dans l'instant ou que vous souhaitez réserver une place à l'avance, Smart-Park met le pouvoir dans la paume de votre main.
        </p>
        <br>
        <div>
            <button class="getquotebtn" (click)='checkSession()'>Réserver</button>
        </div>
    </div>
</div>